.item{
    border: 1px solid gray;
    padding: 16px; 
    margin: 4px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
}

.item-line1{
    width: 100%;
    margin-bottom: 8px;   
}

.item-line1 span{
    font-size: 1.5rem;
    font-weight: bold;
}

.item-line1 span:first-child{
    margin-right: 2rem;
}

.item-line1 span:nth-child(2){
    color: green;
}

.item-line2{
    color: darkolivegreen;
}

.item-line3 img{
    width: 100%;
}

.item:hover{
    background-color: lightgray;
}